.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header {
    width: 100%;
    background: #F7F7F7;
    border-top: 1px solid #8A8A8A;
    border-bottom: 1px solid #8A8A8A;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header.next-step {
    margin-bottom: 45px;
}
.header__wrapper {
    width: 90%;
    height: 100%;
    max-width: 873px;
    position: relative;
    padding: 24px 0;
}
.month {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.month::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/month.png) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-left: 13px;
}
.month.noIcon::after {
    display: none;
}
.head-link {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s;
}
.head-link.prev {
    right: auto;
    left: 0;
}
.head-link:hover {
    text-decoration: underline;
}
.week {
    width: 90%;
    max-width: 873px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 1px solid #000000;
    border-top: 0px;
    position: relative;
    margin-bottom: 16px;
}
.week__days {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.week__day {
    width: 125px;
    background: #D60000;
    color: #ffffff;
    padding: 13px 0;
    text-align: center;
    font-weight: 600;
}
.week__day.black {
    color: #000000;
}
.week__dates {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.week__date {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px 0;
    position: relative;
}
.week__date.past {
    background: #D9D9D9;
}
.week__date.current {
    background: yellowgreen;
}
.week__date.isActive {
    background: #5C5F62;
}
.week__date.noActive {
    background: #D9D9D9;
}
.week__date:hover {
    background: #eeeeee;
}
.week__date-count {
    font-size: 25px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 10px;
}
.week__date.past .week__date-count {
    color: #AAAAAA;
}
.week__date.isActive .week__date-count {
    color: #ffffff;
}
.week__date-label {
    width: 70px;
    height: 14px;
    border-radius: 7px;
    background: #8A8A8A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 11px;
    color: #000000;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.week__date.past  .week__date-label {
    display: none;
}
.week__date-label.hidden {
    display: none;
}
.week__date-label.dostupno {
    background: #528B4D;
}
.week__date-label.malo {
    background: #FFA800;
    color: #ffffff;
}
.week__date-label.busy {
    background: #FF0707;
}

.prev-week-btn {
    display: block;
    width: 25px;
    height: 33px;
    background: url(../img/prev.png) no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 100% 100%;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
}
.next-week-btn {
    display: block;
    width: 25px;
    height: 33px;
    background: url(../img/next.png) no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 100% 100%;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
}


.label-list {
    width: 90%;
    max-width: 873px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;
}
.label-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-color {
    width: 35px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}
.label-color.green {
    background: #528B4D;
}
.label-color.orange {
    background: #FFA800;
}
.label-color.grey {
    background: #8A8A8A;
}
.label-color.red {
    background: #FF0707;
}
.order-block {
    width: 90%;
    max-width: 873px;
    box-sizing: border-box;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.step-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
}
.form {
    width: auto;
    max-width: 873px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/*свитч*/
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*конец свич*/
.forms-block {
    width: 96%;
    max-width: 873px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.for-childs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 48%;
}
.child-img {
    margin-right: 30px;
}
.form-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #000000;
    margin-right: 45px;
    display: block;
}
.clubs-enter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
}
.nomer-prav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}
.nomer-prav.hidden {
    visibility: hidden;
}
#form-check_license {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#form-check_license .field-licenseform-number {
    margin-bottom: 0 !important;
    margin-right: 24px;
}
.nomer-prav label {
    font-size: 14px;
    color: #000000;
    margin-right: 24px;
}
#form-check_license .field-licenseform-number .form-control {
    height: 30px;
    padding: 0;
    width: 177px;
}
.nomer-prav .prava {
    width: 136px;
    height: 23px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    margin-right: 24px;
}
.nomer-prav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    border: 0px;
    background: #000000;
    color: #ffffff;
    font-size: 10px;
    border-radius: 3px;
}
.result-table {
    width: 96%;
    max-width: 873px;
    margin-top: 19px;
    box-sizing: border-box;
    padding: 4px;
    margin-bottom: 30px;
}
.result-table__time-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    box-sizing: border-box;
    padding-left: 20px;
}
.result-table__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 6px;
}
.result-table__info-block {
    background: #ffffff;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}
.result-table__time {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D60000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px 0px 0px 5px;
}
.result-table__info {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0px 5px 5px 0px;
    position: relative;
}
.result-table__info-icon {
    display: none;
}
.result-table__info-icon.open {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}
.result-table__info-icon img {
    width: auto;
    height: auto;
    margin-right: 10px;
}
.result-table__info-icon span {
    font-size: 8px;
    line-height: 10px;
    text-align: center;
}

.result-table__info.purple {
    background: #EFF0FF;
}
.result-table__info.yellow {
    background: #FFF3DD;
}
.result-table__info.gray {
    background: #AAAAAA;
}
.result-table__order {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 11px;
    font-weight: 700;
    margin-right: 5px;
}
.result-table__order::after {
    content: '';
    display: block;
    background: url(../img/basket.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 18px;
    height: 18px;
}
.result-table__btn {
    width: 178px;
    height: 37px;
    border: 0px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #146C43;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    margin-left: 0px;
}
.result-table__btn:hover {
    color: #ffffff;
    background: #000000;
}
.result-table__icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.result-table__info-block.noActive .result-table__time {
    color: #AAAAAA;
}
.result-table__info-block.noActive .result-table__info {
    background: #AAAAAA;
}
.timer-block {
    width: 90%;
    max-width: 873px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.timer {
    background: #2991FC;
    padding: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.timer-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-right: 13px;
    color: #ffffff;
}
.timer-time {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}
.modal-header {
    background: #D60000;
    justify-content: flex-start;
}
.modal-header .modal-date {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-right: 8px;
}
.modal-header .modal-time {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-right: 8px;
}
.modal-header .modal-name {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}
.modal-body {
    padding: 30px 25px 12px 37px;
    box-sizing: border-box;
}
.modal-form__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.modal-form__row label {
    font-size: 12px;
    font-weight: 700;
    flex-shrink: 0;
}
.modal-form__row input {
    width: calc(100% - 120px);
    height: 23px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    flex-shrink: 1;
}
.modal-form__row .add-in-zakaz {
    width: 120px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background: #146C43;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-form__row  .add-issue {
    width: 150px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background: #2991FC;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Step 2*/
.order-table {
    width: 90%;
    max-width: 873px;
    border: 1px solid #000000;
    margin-bottom: 10px;
}
.order-table__head,
.order-table__row {
    position: relative;
    box-sizing: border-box;
    padding: 5px 15px;
    background: #D60000;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    color: #ffffff;
}
.order-table__row {
    color: #000000;
    background: #ffffff;
}
.order-table__date {
    width: 105px;
}
.order-table__time {
    width: 50px;
}
.order-table__type {
    width: 135px;
}
.order-table__name {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-table__col {
    width: 100px;
    position: relative;
}
.order-table__row .order-table__col::before {
    content: '';
    display: block;
    background: url(../img/person.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 19px;
    height: 13px;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
}
.order-table__price {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-table__summa {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.order-table__delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}
.order-table__row .order-table__delete::after {
    content: 'x';
    display: block;
    font-size: 12px;
    line-height: 14px;
}
.order-table__close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.order-table__close::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000000;
    transform: rotate(45deg);
    top: 10px;
    position: absolute;
}
.order-table__close::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000000;
    transform: rotate(-45deg);
    top: 10px;
    position: absolute;
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus,
.plus{
    width:12px;
    height:12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
input {
    height: 34px;
    width: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}
.summ-block {
    width: 90%;
    max-width: 873px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
    margin-bottom: 15px;
}
.summ-block__result {
    margin-left: 5px;
}
.order-form__block {
    width: 90%;
    max-width: 873px;
    background: #F7F7F7;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.order-form__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.order-form {
    width: 90%;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.order-form__item {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}
.order-form__item label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.order-form__item input {
    width: 100%;
    height: 35px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15px;
    text-align: left;
    position: relative;
}
/*Step 3*/
.order-result__block {
    width: 90%;
    max-width: 873px;
    margin-bottom: 40px;
}
.order-result__text {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 15px;
    text-align: center;
}
.order-result__number {
    font-weight: 700;
    display: inline;
}
.pay-table {
    width: 90%;
    max-width: 873px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
}
.pay-table__head {
    width: 100%;
    padding: 5px 15px;
    background: #D60000;
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
}
.pay-table__date {
    margin-right: 20px;
}
.pay-table__time {
    margin-right: 20px;
}
.pay-table__icon {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.pay-table__form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.pay-table__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.pay-table__row label {
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    margin-right: 40px;
}
.pay-table__row input {
    width: 140px;
    height: 21px;
    border: 2px solid #CED4DA;
    border-radius: 3px;
    font-size: 8px;
}
.pay-table__row input[name="name"] {
    width: 180px;
}
.pay-table__btn {
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    padding: 6px 4px;
    background: #D60000;
    border: 0;
    border-radius: 5px;
    align-self: flex-end;
    margin: 19px 0 10px;
}
.save-block {
    width: 90%;
    max-width: 873px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.save-block__btn {
    width: 245px;
    height: 45px;
    border: 0;
    background: #2991FC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
}

.timer-block.hidden {
    visibility: hidden;
}